noderedflows.json
[{"id":"b2d59e6c.b5d54","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"599c93bd.8d7e2c","type":"ui_form","z":"b2d59e6c.b5d54","name":"","label":"","group":"818211ac.998d3","order":1,"width":0,"height":0,"options":[{"label":"enter the text","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":140,"wires":[["e22bb657.f579b8"]]},{"id":"e22bb657.f579b8","type":"function","z":"b2d59e6c.b5d54","name":"f1","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["c6fe157.2be17e8","84ffda.dc43e028"]]},{"id":"c6fe157.2be17e8","type":"ui_text","z":"b2d59e6c.b5d54","group":"818211ac.998d3","order":2,"width":0,"height":0,"name":"","label":"user input","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":220,"wires":[]},{"id":"84ffda.dc43e028","type":"watson-conversation-v1","z":"b2d59e6c.b5d54","name":"chatbot","workspaceid":"4eb397a8-a63c-4095-bcde-ec19665a7805","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/246cb84e-156e-47c8-adfb-5849b7f1c89e","timeout":"","optout-learning":false,"x":460,"y":60,"wires":[["6982e518.b271bc","59184515.0498ac"]]},{"id":"6982e518.b271bc","type":"debug","z":"b2d59e6c.b5d54","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":20,"wires":[]},{"id":"59184515.0498ac","type":"function","z":"b2d59e6c.b5d54","name":"f2","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["f9b21c6a.61048","fd3da7cc.6e4ce8"]]},{"id":"f9b21c6a.61048","type":"ui_text","z":"b2d59e6c.b5d54","group":"818211ac.998d3","order":3,"width":0,"height":0,"name":"","label":"response","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":180,"wires":[]},{"id":"fd3da7cc.6e4ce8","type":"ui_audio","z":"b2d59e6c.b5d54","name":"","group":"818211ac.998d3","voice":"","always":"","x":780,"y":80,"wires":[]},{"id":"818211ac.998d3","type":"ui_group","z":"","name":"UI","tab":"2a321d0d.abd7d2","order":1,"disp":true,"width":"6","collapse":false},{"id":"2a321d0d.abd7d2","type":"ui_tab","z":"","name":"chatbot","icon":"dashboard","disabled":false,"hidden":false}]